.container2{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.contacttext{
    text-align: left;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}
.contacttext h1{
    padding-top: 5%;
    padding-bottom: 5%;
}
.contacttext p{
    font-size: 19px;
}
.contacttext h3{
    padding-top: 5%;
}
form{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
}
form h3{
    color: #676767;
    font-weight: 800;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #dbd6d6;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: #605f57;
    color: #ffffff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
.Everything{
    margin-left: 10%;
    margin-right: 10%;
}